*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif; /* 300 400 600 */
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

hr{
    margin-top: 0;
    border: none;
    height: 2px;
    background-color: hsl(215, 32%, 27%);
}

.card{
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 15px;
}

.card img{
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.card *{
    margin: 20px 0;
}

.card p{
    margin-bottom: 0;
    color: hsl(215, 51%, 70%);
    font-weight: lighter;
}

.card h4{
    margin-bottom: 0;
    color: hsl(178, 100%, 50%);
}

.card h4, .days{
    display: inline-block;
    font-size: 16px;
}

.days{
    float: right;
}

.name{
    color: white;
}

.attribution{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}